<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>343659267573-nvd2pnliseno31mispk86c0ucd9t17j3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.343659267573-nvd2pnliseno31mispk86c0ucd9t17j3</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>343659267573-csgbk46f43ipnk3n696ov38hvegbujfb.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyARr2xbLUGJbjEZbSoLgLwHAjfiSglOViU</string>
	<key>GCM_SENDER_ID</key>
	<string>343659267573</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.timelessfusionapps.smartTalk</string>
	<key>PROJECT_ID</key>
	<string>chat-app-6c19b</string>
	<key>STORAGE_BUCKET</key>
	<string>chat-app-6c19b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:343659267573:ios:ed5c277cb2556a3e698cbc</string>
</dict>
</plist>